<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-image-multiselect"
  version="1.0.0">

	<name>ImageMultiselect</name>
	 
	<description>
		This plugin allows selection of multiple images from the gallery in a cordova app
	</description>
	
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>  

	<js-module src="www/imagepicker.js" name="ImagePicker">
		<clobbers target="plugins.imagePicker" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="android-package" value="com.susam.ImagePicker"/>
			</feature>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <activity android:name="com.erikagtierrez.multiple_media_picker.OpenGallery" android:theme="@style/ImagePickerTheme">
            </activity>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
		    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>
		
		<source-file src="src/android/src/com/susam/ImagePicker/ImagePicker.java" target-dir="src/com/susam" />
		
		<source-file src="src/android/res/values/multiimagechooser_strings_en.xml" target-dir="res/values"/>
		<source-file src="src/android/res/values/multiimagechooser_styles.xml" target-dir="res/values"/>
		<source-file src="src/android/res/values/multiimagechooser_colors.xml" target-dir="res/values"/>
		
		<source-file src="src/android/res/values-ru/multiimagechooser_strings_ru.xml" target-dir="res/values-ru"/>
        
        <source-file src="src/android/res/values-w820dp/multiimagechooser_dimens.xml" target-dir="res/values-w820dp"/>
		
		<framework src="com.android.support:appcompat-v7:+" />
		<framework src="com.android.support:design:+" />
		<framework src="com.android.support:support-v4:+" />
		<!--<framework src="com.squareup.picasso:picasso:2.5.2" />-->
		<framework src="com.github.bumptech.glide:glide:3.7.0" />
		
		<framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"/>
		<resource-file src="src/android/lib/multiple-media-picker.aar" target="libs/mutliple-media-picker.aar"/>
	</platform>
</plugin>
